name: CI

on:
  push:
    branches:
      - master # Change this to your main branch name

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: java
        uses: actions/setup-java@v1
        with:
          java-version: "18.x"

      - name: Set up Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: "stable"

      - name: Get dependencies
        run: flutter pub get

      - name: Run tests
        run: flutter test

      - name: Build Android
        if: ${{ success() && github.ref == 'refs/heads/main' }}
        run: flutter build apk
